@use '/src/Style/Abstract/Color' as *;
$bodyPaddingRightAndLeft: 20px;
$bodyPaddingTop: 10px;

@font-face {
    font-family: 'Zangezi';
    src: url('../../Assets/Fonts/5f02286697a154a56f5d05c7_Zangezi07-Regular.woff') format('woff');
    font-style: normal;
    font-display: auto;
  }

body {
    padding: 0 $bodyPaddingRightAndLeft 0 $bodyPaddingRightAndLeft;
    font-family: 'Zangezi',sans-serif;
    font-size: 20px;
    color: $Link-Color;
}

#root {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.active {
    text-decoration-line: underline;
}

section {
    height: fit-content;
    max-width: 1400px;
    margin: 10px min(2vw, 40px) 10px min(2vw, 40px);
    padding: 0 20px 0px 20px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    h2 {
      display: flex;
      justify-content: center;
    }
  }